<!DOCTYPE html>
<html lang="ro">

<head>
    <title>Despre</title>
    <meta name="description"
        content="Istoricul și descrierea siteului Dream Holidays.">
    <meta name="keywords"
        content="vacanță, călătorie, destinații, oferte, rezervări, hoteluri, pachete turistice">

    <%-include("../fragmente/head.ejs")%>

</head>

<body>

    <%-include("../fragmente/header.ejs")%>
        <main>
            A doua pagina.
            <%-include("../fragmente/footer.ejs")%>
        </main>

</body>

</html>