<footer id="subsol">
        <div class="footer-content">
            <address>
                <strong>Contactează-ne:</strong>

                <p>
                    <i class="fa-solid fa-phone"></i> Telefon:
                    <a href="tel:+40722000000">+40 722 000 000</a>
                </p>

                <p>
                    <i class="fa-solid fa-envelope"></i> Email:
                    <a href="mailto:contact@dreamholidays.ro">contact@dreamholidays.ro</a>
                </p>

                <p>
                    <i class="fa-solid fa-location-dot"></i> Adresa:<br>
                    <a href="https://www.google.com/maps/place/Facultatea+de+Matematic%C4%83+%C8%99i+Informatic%C4%83/@44.4355355,26.0970118,17z/data=!3m1!4b1!4m6!3m5!1s0x40b1ff472f47f047:0x493984726f0235f9!8m2!3d44.4355355!4d26.0995867!16s%2Fg%2F1td63tdh?entry=ttu&g_ep=EgoyMDI2MDMxMS4wIKXMDSoASAFQAw%3D%3D"
                        target="_blank">
                        Strada Academiei, Nr. 14,<br>
                        Sector 1, București,<br>
                        România
                    </a>
                </p>

                <p>
                    <i class="fa-brands fa-whatsapp"></i> Chat rapid:
                    <a href="https://wa.me/40722000000" target="_blank">WhatsApp Direct</a>
                </p>
            </address>

            <hr>
            <p>
                <small>
                    Copyright &copy; 2026 Dream Holidays.
                    Creat la data de:
                    <time datetime="2026-03-09">9 Martie 2026</time>.
                </small>
            </p>

            <p>Acesta este un proiect scolar!</p>

            <p><a href="#" id="back-to-top" data-tooltip="Înapoi sus"> <span>&#5123;</span></a></p>
        </div>
    </footer>