<header>
        <h1>Dream Holidays</h1>
        <nav id="variante-meniu">

            <label for="ch-menu" class="hamburger">
                <i class="fas fa-bars"></i>
            </label>
            <input type="checkbox" id="ch-menu">

            <ul class="meniu">
                <li class="btn-acasa">
                    <a href="/">
                        <i class="fa-solid fa-house"></i>
                        <span class="text-ascuns">Acasă</span>
                    </a>
                </li>
                <li>
                    <a href="/"><i class="fa-solid fa-layer-group"></i> Pagina Principala</a>
                    <ul class="submeniu">
                        <li><a href="/index#oferte-sezon">Oferte Actuale</a></li>
                        <li><a href="/index#evenimente">Evenimente</a></li>
                        <li><a href="/index#galerie">Galerie Foto</a></li>
                        <li><a href="/index#prezentare-video">Prezentare Video</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa-solid fa-images"></i> Galerii</a>
                    <ul class="submeniu">
                        <li><a href="galerie-statica.html">Galerie Statică</a></li>
                        <li><a href="galerie-dinamica.html">Galerie Dinamică</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class="fa-solid fa-map-location-dot"></i> Destinații</a></li>
                <li><a href="#"><i class="fa-solid fa-suitcase-rolling"></i> Pachete Speciale</a></li>
                <li><a href="/despre"><i class="fa-solid fa-circle-info"></i> Despre</a></li>
                <li><a href="#"><i class="fa-solid fa-address-book"></i> Contact</a></li>
            </ul>
        </nav>
    </header>